/* Login form style */
body {
  background:  #3498db;
  color: #141313;
  overflow-y: hidden;
}

form {
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  clear: right; 
   
   
    
   width: 900px;
}
 

 
body{
  padding-top:140px;
  background: #e4e7e7;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 10px;
    align-items: cneter;
    
  }
  
  input[type=text],
  input[type=email],
  input[type=password] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type=submit] {
    background-color: #7ce4f9;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  